


main {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
   height: 100vh;
   margin-top: 150px;
   margin-bottom: 60px;

}

h1{
   margin-bottom: 60px;
}

#login_main{
   margin-top: 35px;
}

.form_container {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   max-width: 400px;
   background-color: #fff;
   border-radius: 30px;
   padding: 40px 30px;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


.form_container img {
   max-width: 300px;
   height: auto;
   margin-top: 30px;
   margin-bottom: 100px;
}

form {
   width: 100%;
}

form>div {
   margin-bottom: 15px;
}

label {
   display: block;
   font-weight: 600;
   color: #444;
   margin-bottom: 5px;
   font-size: 1.3rem;
}

.input_login {
   width: 100%;
   padding: 12px 0px 12px 12px;
   border: 1px solid #ccc;
   border-radius: 6px;
   font-size: 1rem;
}

.codigo_div {
   display: flex;
   width: 100%;
   border: 1px solid #ccc;
   border-radius: 6px;
}

.codigo_div > input {
   padding: 12px;
   border: none;
   font-size: 1rem;
}

.codigo_div > button {
   background-color: transparent;
   padding: 0 20px;
   border: none;
   border-left: 1px solid #ccc;
   border-radius: 6px;
   cursor: pointer;
}

input[type="submit"] {
   background-color: black;
   color: white;
   padding: 12px;
   border: none;
   border-radius: 6px;
   cursor: pointer;
   font-size: 1.1rem;
   font-weight: 700;
   max-width: 200px;
}

#input_submit_container{
   display: flex;
   justify-content: center;
   margin-top: 30px;
}

.forgot_password {
   margin-top: 15px;
}

.forgot_password a {
   display: flex;
   justify-content: center;
   color: rgb(182, 182, 182);
   text-decoration: none;
   font-size: 0.9rem;
}

