*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 30px;
   padding: 20px;
   box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




.container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    
    flex-direction: column;

}

.flex {
    display: flex;
}



.sec-1{
    display: flex;
    max-height: 600px;

}



.main-text {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: justify;
    padding-right: 155px;
}

.main-text p {
    font-size: 2vw;
}

.main-image {
    flex: 1;
    max-width: 40%;
}



h2 {
    font-size: 1.5vw;
}
