.form_dataset {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   max-width: 400px;
   background-color: #fff;
   border-radius: 30px;
   padding: 40px 30px;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.container {
    width: 100%;
}