.container{
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;

}

#datasets_user {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pen-icon {
    width: 32px;
}

.icons-dataset {
    align-content: end;
}

.info-datasets {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #c7c7c7;
}


.dataset_user {
    display: flex;
    justify-content: space-between;
    
    padding: 5px 0px 10px 0px;
}

.dataset_image {
    width: 15%;
    border-radius: 10%;
    
}

.dataset_infos {
    display: flex;
    
}

.dataset_info {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.dataset-w {
    border-bottom: 1px solid #c7c7c7;
    transition: all 0.3s ease-in-out;
    
}



.dataset-w:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}