.container{
    display: flex;
    width: 100%;
    margin: 0 auto;
    
    flex-direction: column;

}

.dataset_user {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c7c7c7;
    padding: 5px 0px 10px 0px;
}

.dataset_image {
    width: 15%;
    border-radius: 10%;
    
}

.dataset_infos {
    display: flex;
    
}

.dataset_info {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}